{% extends 'vernam.html'%}

{% blcok decrypt %}
<div class="content-section">
    <form method="POST" action="/Vernam">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> Vernam </legend>
            <div class="form-group">
                {{ form.message.label(class="form-control-label") }}
                {% if form.message.errors %}
                    {{ form.message(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.message.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.message(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<div class="border-top pt-3">
<hr>
    <div class="container">
        {% if x %}
        <legend>Your ciphered message is :<legend>
           <p>{{x}}</p>        
        {% endif%}
    </div>         
</div>
</div>
{% endblock %}