{%extends 'layouts.html'%}

{% block content %}
    <div class="content-section">
        <div class="container">
                <div class="row">   
                    <div class="col-lg-6 my-10 my-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.youtube.com/yts/img/yt_1200-vflhSIVnY.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">A level Ciphering and Encryption</h5>
                              <p class="card-text">Youtube playlist which includes detailed videoes that explain different types of ciphering and encryption. Caesar Cipher and Vernam Cipher's mechanism and logic is explained as well as asymmetric encryption and symmetric encryption.</p>
                              <a href="https://www.youtube.com/watch?v=Tc0W5i0bXPk&list=PLhbB4T-TpNBvT4vLO1yEqng8PFNsDMmUu" class="btn btn-primary">Youtube Playlist</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6 my-10 my-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://wallpapercave.com/wp/wp4770071.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Presentation resources</h5>
                              <p class="card-text">Differnt presentation resources of encryption are collected on this google drive. Follow the link below and start your learning.</p>
                              <a href="https://drive.google.com/drive/folders/1I8ves7mulRGg67EzqCw3klMy--0IOuZV?usp=sharing" class="btn btn-primary">Encryption Presentation resources (Google Drive)</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6 my-10 my-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://www.dcode.fr/tools/mexican-army-wheel/images/wheel.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Caeser and Vernam cipher - Written python code</h5>
                              <p class="card-text">Below is a link to a document that contains python code of Caesar and Vernam cipher. Each line is explained for your understanding.</p>
                              <a href="#" class="btn btn-primary">Python Code</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6 my-10 my-3">
                        <div class="card" style="width: 18rem;">
                            <img src="https://images.idgesg.net/images/article/2019/05/google-docs-logo-100796136-large.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Revision Notes</h5>
                              <p class="card-text">This is a link to a full revision notes on topic Encryption. It walks through the specification points and all the contents you should know for you A level exam.</p>
                              <a href="#" class="btn btn-primary">Revision Note</a>
                            </div>
                          </div>
                    </div>
                </div>
        </div>
    </div>
    </div>
{% endblock content %}